// import de arquivos padrão
@import '../_base/_import';

.clear{
	&:before,
	&:after{
		content: '';
		width: 100%;
		clear: both;
		display: block;
	}
}

@media screen and (min-width: 768px){
}

@media screen and (min-width: 768px) and (max-width: 1199px){
}

@media screen and (min-width: 1200px){
}
