// import de arquivos padrão
@import '../_base/_import';

.btn{
	cursor: pointer;
	display: inline-block;
	outline: none;
	text-decoration: none;
	@include transition(background .3s, color .3s);

	&.small{
		padding: 10px 17px;
	}

	&.medium{
		padding: 12px 18px;
		min-width: 170px;
		text-align: center;

		@media screen and (max-width: 767px){
			min-width: 150px;
		}
	}

	&.large{
		padding: 10px 18px;
		width: 210px;
		text-align: center;
	}

	&.big{
		padding: 15px 18px;
		width: 210px;
		text-align: center;
	}

	&.ghost{
		background: transparent;
		color: $orange;
		border: 2px solid $orange;
		width: 270px;
		height: 50px;
		border-radius: 4px;
		padding: 15px 18px;
		font-weight: 600;

		&:hover{
			background: $orange;
			border: 1px solid $orange;
			color: $white;
		}
	}

	&.rounded{
		height: 40px;
		border-radius: 20px;
	}

	&.blue{
		color: $white;
		background: $main-blue;
		height: 40px;
		border-radius: 4px;
	}
	&.orange{
		color: $white;
		background: $orange;
		height: 40px;
		border-radius: 4px;
	}

}



@media screen and (min-width: 768px){
}

@media screen and (min-width: 768px) and (max-width: 1199px){
}

@media screen and (min-width: 1200px){
}
