// import de arquivos padrão
@import '../_base/_import';


@media screen and (max-width: 372px){
}

@media screen and (min-width: 768px){
}

@media screen and (min-width: 768px) and (max-width: 1199px){
}

@media screen and (min-width: 1200px){
}


.tcenter{
	text-align: center;
}

// LABEL DO TOPO DAS PAGES
.top-label{
	display: block;
	margin-bottom: 10px;
	text-align: center;

	span{
		display: inline-block;
		border-radius: 12px;
		font-size: pxToEm(13);
		font-weight: 300;
		padding: 5px 15px;
		background: $top-legend;
		color: $white;
	}

}

@media screen and (min-width: 768px){
}

@media screen and (min-width: 1200px){
	.top-label{
		margin-bottom: 20px;
	}
}



// títulos
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6{
	font-weight: 800;
	color: $white;

	strong{
		font-weight: 800;
	}
}

.h1, h1{
	font-size: pxToEm(30);
}
.h2, h2{
	font-size: pxToEm(36);
}
.h3, h3{
	font-size: pxToEm(24);
}
.h4, h4{
	font-size: pxToEm(26);
}
.h5, h5{
	font-size: pxToEm(12);
}
.h6, h6{
	font-size: pxToEm(12);
}

@media screen and (min-width: 768px){
	.h1, h1{
		font-size: pxToEm(40);
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px){
	.h3, h3{
		font-size: pxToEm(24);
	}
	.h4, h4{
		font-size: pxToEm(28);
	}
}

@media screen and (min-width: 1199px){
	.h1, h1{
		font-size: pxToEm(46);
	}
	.h2, h2{
		font-size: pxToEm(42);
	}
}