// import de arquivos padrão
@import '../_base/_import';

//@import '_fonts';

@-ms-viewport {
  //código que corrige quebra de viewport no IE/EDGE mobile
  //deve vir antes de qualquer outro estilo
  max-width: 100% !important;
  width: auto !important;
}

html {
  font-family: sans-serif;
  font-size: #{$fontSize}px;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;

  display: -webkit-flex; /* Safari */
  display: flex;   
  -webkit-flex-wrap: nowrap; /* Safari 6.1+ */
  flex-wrap: nowrap;
  flex-direction: column;
  -webkit-flex-direction: column;

  main{
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }

}

body.no-overflow{
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.dd-non-style-list{
  ul, li{
    list-style: none;
  }
}

.dd-inline-list{
  li{
    display: inline-block;
  }
}

.dd-tcenter{
  text-align: center;
}

.dd-fleft{
  float: left;
}

.dd-fright{
  float: right;
}

.close{
  cursor: pointer;
}


// REMOVE grey BG ON IOS CLICK
*, body, html{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}