// Fontes
$fontSize: 16;

// CORES
$black: #0A0E1A;
$white: #fff;

$grey: #637AAB;
$dark-grey: #C3CCE5;
$light-grey: #F2F5FF;
$label-grey: #989EB2;

$main-blue: #265CFF;
$dark-blue: #1B41B2;
$soft-blue: #637AAB;

$orange: #FF7900;

$top-legend: #183278;

// FONTES

$mainfont: 'CircularStd', sans-serif;