// import de arquivos padrão
@import '../_base/_import';


.main-footer{
	padding-top: 30px;
	padding-bottom: 80px;
	background: #000000;
	
	.criar-conta-footer{
		padding: 0 0 60px;
		text-align: center;
		border-bottom: 2px solid $main-blue;
		margin-bottom: 60px;

		@media screen and (min-width: 768px){
			margin-bottom: 120px;
		}

		@media screen and (max-width: 767px){
			h3{
				margin-bottom: 20px;
			}
		}

		@media screen and (max-width: 1199px){
			h3{
				font-size: pxToEm(30);
			}
		}

		.btn{
			width: 270px;
			height: 40px;
			padding: 10px 0;

			@media screen and (min-width: 1200px){
				height: 50px;
				padding: 15px 0;
			}
		}
	}

	.logo{
		margin-bottom: 30px;
	}

	@media screen and (min-width: 768px){
		.footer-menu{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		}
	}

	.menu-block{
		float: left;
		width: 50%;
	}

	.menu-title{
		font-weight: 900;
		line-height: normal;
		font-size: pxToEm(18);
		text-transform: uppercase;
		color: $dark-blue;
		margin-bottom: 20px;
	}

	ul{
		list-style: none;
		list-style-type: none;
		margin-bottom: 10px;

		li{
			margin-bottom: 20px;
		}

		a{
			font-size: pxToEm(14);
			letter-spacing: 0.175px;
			color: #637AAB;
			text-decoration: none;
		}
	}
}


@media screen and (max-width: 767px){
}


@media screen and (min-width: 768px){
	.main-footer{
		background-image: url('../images/footer-t-bg.svg');
		padding-top: 60px;
		padding-bottom: 175px;

		.criar-conta-footer h3{
			display: inline-block;
			margin-right: 90px;
			vertical-align: bottom;
		}

		.menu-block{
			width: auto;
		}

		.footer-menu{
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
		}
	}
}

@media screen and (min-width: 1200px){
	.main-footer{
		padding-bottom: 195px;

		.criar-conta-footer h3{
			display: inline-block;
			margin-right: 50px;
		}
	}
}



.redes{
	margin-top: 20px;

	a{
		display: inline-block;
		color: $main-blue;
		font-size: 1.4em;
		text-decoration: none;
		margin-right: 10px;
	}
}
