// import de arquivos padrão
@import '../_base/_import';
@import '../_bootstrap-grid/_grid';


// HIDES

@media screen and (max-width: 767px){
	.hidden-xs{
		display: none !important;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px){
	.hidden-sm{
		display: none !important;
	}
}

@media screen and (min-width: 1200px){
	.hidden-lg{
		display: none !important;
	}
}


