// import de arquivos padrão
@import '../_base/_import';
@import '../_layout/_menu';

.main-header{
	padding: 20px 0;
	width: 100%;
	height: 80px;
	position: absolute;
	left: 0;
	top: 0;
	@include transition(top .5s);

	&.fixed{
		background: $black;
		position: fixed;
		top: -100px;
		z-index: 999;

		&.to-bottom{
			top: 0;
		}
	}

	.logo{
		margin-top: 10px;
		display: block;
	}

	@media screen and (max-width: 390px){
		.btn.blue{
			font-size: 0.8em;
			height: 36px;
			min-width: 112px;
			padding: 12px;
		}
	}
}

.header-container{
	position: relative;
	height: 80px;
	width: 100%;
}

@media screen and (min-width: 768px){
}

@media screen and (min-width: 768px) and (max-width: 1199px){
}

@media screen and (min-width: 1200px){
}
