// import de arquivos padrão
@import '../_base/_import';

.main-nav{
	text-align: right;

	li{
		display: inline-block;
		margin: 0 15px;

		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
	}

	a{
		text-decoration: none;
		color: $white;
		font-size: 1em;
		font-weight: 800;
	}
}

@media screen and (max-width: 767px){
}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 768px) and (max-width: 1199px){
}

@media screen and (min-width: 1200px){
}

