// Estilos base
@import '_base/_reset';
@import '_base/_base';
@import '_base/_fonts';

// WIDGETS

// Estilos para Layouts
@import '_layout/_grids';
@import '_layout/_header';
@import '_layout/_footer';

// Estilos de módulos
@import '_modules/_forms';
@import '_modules/_buttons';
@import '_modules/_boxes';
@import '_modules/_figures';
@import '_modules/_formatting';
@import '_modules/_modals';
@import '_modules/_share';

// Estilos para classes de estado
@import '_states/_states';

// Estilos para fallbacks no IE9 ou outras correções
@import '_hacks/_fallbacks';

body.overflow{
	overflow: hidden;
}

body{
	background: $black;
}


section{
	width: 100%;
}
