// colaboradores: Daniel Fabricio

// Estilos base
@import '_base/_reset';
@import '_base/_base';

// CSS PARA O SITE TODO
@import '_app';


// VALORES DO TOPO
.top-btn-vals{
	width: 100%;
	background: #0A0E1A;
	box-shadow: inset 0px -1px 0px #183278;
	font-weight: 500;
	line-height: 17px;
	font-size: pxToEm(12);
	color: $white;
	padding: 2px 0;
	overflow: hidden;
	position: relative;
	height: 22px;

	.c-container{
		padding: 0 15px;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;

		@media screen and (min-width: 1200px){
			width: 1200px;
			margin: 0 auto;
			display: block;
		}
		@media screen and (max-width: 1199px){
			position: absolute;
			top:2px;
			z-index: 0;
		}
	}

	.item{
		display: inline-block;
		white-space: nowrap;

		&:after{
			content: '–';
			margin: 0 25px;
		}
	
		&:last-child:after{
			display: none;
		}
	}
}



.top-sec{
	background: -webkit-gradient(linear, left top, left bottom, from(#0A0E1A), to(#2954CC));
	background: -webkit-linear-gradient(#0A0E1A, #2954CC);
	background: -o-linear-gradient(#0A0E1A, #2954CC);
	background: linear-gradient(#0A0E1A, #2954CC);

	.panel-bg{
		display: block;
		width: 100%;
		height: calc(100vh - 430px);
		overflow: hidden;
		position: relative;

		@media screen and (min-width: 768px){
			height: 350px;
		}
		@media screen and (min-width: 1200px){
			height: 500px;
		}

		.panel{
			position: absolute;
			top: 0;
			left: 5%;
			width: 90%;
			height: calc(100vh - 430px);
			background-image: url(../images/modiax-panel.png);
			background-size: contain;
			background-position: bottom center;
			background-repeat: no-repeat;

			@media screen and (min-width: 768px){
				height: 350px;
			}
			@media screen and (min-width: 1200px){
				height: 500px;
			}
		}
	}
}

.top-content{
	margin-top: 18px;

	.top-text{
		color: $white;
		font-size: 1em;
		// font-weight: 300;
		margin: 0 auto 30px;
		max-width: 620px;
		font-weight: 800;
	}

	strong{
		font-weight: 600;
	}

	.action{
		width: 100%;
		text-align: center;
		margin-bottom: 15px;

		a{
			display: inline-block;
		}

		.link{
			padding: 10px 18px;
			height: 40px;
			margin-top: 10px;
			color: #637AAB;
			font-weight: 700;
			font-size: 1em;
			text-decoration: none;
		}
	}
	
}

.top-desc{
	max-width: 800px;
	margin: 0 auto;
	text-align: center;

	.btn{
		line-height: 1.2em;
	}

	h1{
		font-weight: 800;
		letter-spacing: -1px;
		margin-bottom: 20px;
		font-size: 2.4em;
	}
}

@media screen and (min-width: 768px){
	.top-content{
		margin-top: 115px;

		.top-text{
			margin-bottom: 89px;
		}

		.action{
			margin-bottom: 115px;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px){
}

@media screen and (min-width: 1200px){
	.top-content{
		margin-top: 25px;

		.top-text{
			font-size: pxToEm(18);
			margin-bottom: 40px;
		}

		.action{
			margin-bottom: 60px;
		}
	}
}

@media screen and (min-width: 1199px){
}


// TAXA ZERO =============================================
.taxa-zero{
	min-height: 580px;
	padding-top: 230px;
	text-align: center;
	position: relative;
	@include transition(background .3s, padding-top .5s);
	background: -webkit-radial-gradient(50% 45%,360px,#026 0,#0a0e1a 100%);
	background: -o-radial-gradient(50% 45%,360px,#026 0,#0a0e1a 100%);
	background: radial-gradient(360px at 50% 45%,#026 0,#0a0e1a 100%);

	.zero{
		content: '';
		width: 100%;
		height: 485px;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;
		pointer-events: none;
		background: url(../images/zero.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top center;
		@include transition(width .3s, left .3s);

		&:before{
			content: '';
			width: 100%;
			height: 55%;
			position: absolute;
			left: 0;
			top: 0;
			background: transparent;
			@include transition(background .3s);
		}

		&:after{
			content: '';
			width: 100%;
			height: 45%;
			position: absolute;
			left: 0;
			bottom: 0;
			background: transparent;
			@include transition(background .3s);
		}
	}

	@media screen and (max-width: 767px){
		.h1{
			max-width: 220px;
			margin: 0 auto;
		}
	}

	@media screen and (min-width: 768px){
		min-height: 855px;
		padding-top: 385px;
		background: -webkit-radial-gradient(50% 29%,650px,#026 0,#0a0e1a 100%);
		background: -o-radial-gradient(50% 29%,650px,#026 0,#0a0e1a 100%);
		background: radial-gradient(650px at 50% 29%,#026 0,#0a0e1a 100%);

		.zero{
			height: 695px;
			top: 60px;
		}
	}

	@media screen and (min-width: 1200px){
		min-height: 970px;
		padding-top: 360px;
		background: -webkit-radial-gradient(50% 29%,650px,#026 0,#0a0e1a 100%);
		background: -o-radial-gradient(50% 29%,650px,#026 0,#0a0e1a 100%);
		background: radial-gradient(650px at 50% 29%,#026 0,#0a0e1a 100%);
	}

	.h1,
	.content{
		@include transition(padding-left .5s);
	}

	.content{
		margin-bottom: 90px;
	}

	@media screen and (min-width: 768px){
		.content{
			margin-bottom: 120px;
		}
	}

	&.active{
		background: transparent;

		.zero:before{
			background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#0a0e1a));
			background: -webkit-linear-gradient(transparent, #0a0e1a);
			background: -o-linear-gradient(transparent, #0a0e1a);
			background: linear-gradient(transparent, #0a0e1a);
		}

		.zero:after{
			background: #0a0e1a;
		}

		@media screen and (min-width: 1200px){
			padding-top: 125px;

			.h1,
			.content{
				padding-left: 430px;
				text-align: left;
			}

			.content{
				margin-bottom: 0;
			}

			.zero{
				width: 500px;
				left: calc(50% - 580px);

				&:before{
					width: 90%;
					height: 100%;
					background: linear-gradient(to right, transparent, #0a0e1a);
				}

				&:after{
					width: 10%;
					height: 100%;
					right: 0;
					left: unset;
					background: #0a0e1a;
				}
			}
		}
	}

	.taxa-trigger{
		font-weight: bold;
		line-height: 37px;
		font-size: pxToEm(18);
		text-align: center;
		color: #C3CCE6;
		margin-top: 10px;
		outline: none;

		i{
			display: inline-block;
			transform: rotate(90deg);
			color: $orange;
			font-size: 0.7em;
		}

		span{
			margin-right: 10px;
		}
	}

	.divider{
		font-weight: 600;
		line-height: 37px;
		font-size: pxToEm(18);
		text-align: center;
		color: $main-blue;
		margin: 0 auto 15px;
	}

	// CONTEUDO
	.content{
		display: none;

		.title{
			font-weight: 600;
			line-height: 30px;
			font-size: pxToEm(20);
			color: $main-blue;
			margin-bottom: 30px;

			@media screen and (min-width: 768px){
				margin-top: 15px;
				margin-bottom: 45px;
				font-size: pxToEm(24);
			}
		}

		p{
			font-size: pxToEm(18);
			color: #C3CCE6;
			margin-bottom: 18px;
		}

		@media screen and (min-width: 768px){
		    padding: 0 20px;
		    line-height: 30px;
		}
	}

	.call-to-action{
		margin-top: 35px;

		h3{
			font-weight: 600;
			margin-bottom: 13px;
		}

		.btn{
			line-height: 1em;
		}

		@media screen and (max-width: 767px){
			.btn{
				width: 100%;
			}
		}

		@media screen and (min-width: 768px){
			h3{
				display: inline-block;
			    margin-right: 50px;
			}
		}

		@media screen and (min-width: 1200px){
			.btn{
				height: 50px;
				padding: 16px;
				width: 240px;
			}
		}
	}
}



.features-sec{
	.title{
		width: 100%;
		text-align: center;
		margin-bottom: 50px;

		@media screen and (min-width: 768px){
			margin-bottom: 110px;
		}
	}

	.feature-item{
		width: 100%;
		margin-bottom: 45px;

		h4{
			margin-bottom: 12px;
			text-align: left;
		}

		@media screen and (min-width: 768px){
			margin-bottom: 97px;

			h4{
				margin-bottom: 23px;
			}
		}

		p{
			line-height: 26px;
			font-size: 1em;
			color: #C3CCE6;
		}

		.item-ico{
			@media screen and (max-width: 767px){
				text-align: center;
			}
		}
		@media screen and (max-width: 767px){
			.item-ico{
				height: 130px;
				margin-bottom: 15px;
				overflow: hidden;
				position: relative;

				&:before{
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					bottom: 0;
					left: 0;
					z-index: 1;
					background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#0a0e1a));
					background: -webkit-linear-gradient(transparent, #0a0e1a);
					background: -o-linear-gradient(transparent, #0a0e1a);
					background: linear-gradient(transparent, #0a0e1a);
				}
			}
		}


		@media screen and (min-width: 768px){
			.item-ico{
				width: 210px;
			}

			.item-content{
				width: 450px;
			}

			&:nth-child(even){
				.item-ico{
					float: left;
				}

				.item-content{
					float: right;
					text-align: right;

					.title{
						text-align: right;
					}
				}
			}

			&:nth-child(odd){
				.item-ico{
					float: right;
				}

				.item-content{
					float: left;
				}
			}
		}

		@media screen and (min-width: 1200px){
			padding: 0 100px;

			.item-ico{
				width: 273px;
			}

			.item-content{
				width: 570px;
			}
		}

	}
	@media screen and (max-width: 767px){
		.item-protecao img{
			width: 175px;
		}
		.item-politicas img{
			margin-left: 70px;
		}
	}
	@media screen and (min-width: 768px){
		.item-politicas img{
			margin-top: 50px;
		}
		.item-seguranca img{
			margin-top: 20px;
		}
	}
}

.features-mobile-btn{
	display: none;
	position: fixed;
	bottom: 0;
	z-index: 10;
	left: 0;
	width: 100%;
	height: 65px;
	background:$black;
	padding: 5px 0 20px;
	margin: 0;

	&:before{
		content: '';
		width: 100%;
		height: 30px;
		position: absolute;
		left: 0;
		top: -30px;
		background: -webkit-gradient(linear, left top, left bottom, from(transparent), to($black));
		background: -webkit-linear-gradient(transparent, $black);
		background: -o-linear-gradient(transparent, $black);
		background: linear-gradient(transparent, $black);
	}

	.container a{
		width: 100%;
		text-align: center;
		height: 40px;
		padding: 9px;
	}
}